.jumbotron {
  background: transparent;
}

.col-sm-12 {
  margin-top: 25px;
}

li img {
  margin: auto;
}

.loading {
  position: fixed;
  font-size: 55px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading .content {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: absolute;
}

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}
